[Unit]
Description=Alert Gateway

[Service]
Type=simple
User=alert-gateway
WorkingDirectory=/opt/alert_gateway/
ExecStart=/usr/bin/java -jar /opt/alert_gateway/alert-gateway.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target